<!-- edit comment -->


<form action="/book/<%= book.isbn %>/comments/?_method=PUT" method="POST">
    <input type="text" name="editComment" id="commentUpdate">
    <input type="submit" value="Update my comment">
</form>