<div class="homePage">
    <!-- add header image -->
    <h1>Home</h1>
</div>

<div class="homeMenu">
    <input type="button" href="/auth/signup" value="Create Account">
    <input type="button" href="/auth/login" value="Log In">
</div>