<div class="homePage">
    <!-- add header image -->
    <img src="https://drive.google.com/file/d/1QfuRUyKrenF7jQk9gRrqNNxvU4Zjb5Dj/view?usp=sharing">
    
    <!-- <h1>READAHEAD</h1> -->
    <h2>User Log In</h2>
    <form action="/auth/login" method="POST">
        <input type="email" name="email" placeholder="email address" id="email">
        <br>
        <input type="password" name="password" placeholder="password" id="password">
        <br>
        <input type="submit" value="Log In" id="loginButton">
    </form>
    <div class="createAccount">
        <p>Don't have an account yet? Let's make one!</p>
        <input id="createButton" type="button" href="/auth/signup" value="Create Account">
    </div>
</div>
