<div class="homePage">
    <!-- add header image -->
    <h1>Readahead</h1>
    <h2>User Log In</h2>
    <form action="/auth/login" method="POST">
        <input type="email" name="email" placeholder="email address" id="email">
        <br>
        <input type="password" name="password" placeholder="password" id="password">
        <br>
        <input type="submit" value="Log In">
    </form>
    <div class="createAccount">
        <p>Don't have an account yet? Let's make one!</p>
        <input type="button" href="/auth/signup" value="Create Account">
    </div>
</div>
