<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Auth</title>
</head>
<body>
  <header>
    <nav>
      <% if (!currentUser) { %> 
        <a href="/auth/signup">Create Account</a></li>
        <a href="/auth/login">Log In</a></li>
      <% } else { %> 
        <a href="/auth/logout">Log Out</a></li>
        <a href="/auth/profile">My Profile</a></li>
      <% } %> 
    </nav>
  </header>
  <%- include('partials/alerts') %> 
  <%- body %>
</body>
</html>