<h1><%= currentUser.name %>'s Profile</h1>

<div class="searchForm">
    <h2>Find a Book</h2>
    <p>Search by title, author, or publisher.</p>
    
    <form action="/results" method="GET">
        <input placeholder="search the library" type="text" name="searchTerm">
        <input type="submit">
    </form>
</div>

<div class="currentRead">
    <h3>Currently Reading</h3>
    <!-- include alligator tag for current book -->
</div>

<div class="readingList">
    <h3>Next on my Reading List</h3>
    <!-- include forEach for reading list -->
</div>

<div class="favsList">
    <h3>Some of my Favorite Books</h3>
    <!-- include forEach for reading list -->
</div>