<h1><%= currentUser.name %>'s Profile</h1>

<div class="searchForm">
    <h2>Find a Book</h2>
    
    <form action="/results" method="GET">
        <input placeholder="search by title, author, or publisher" type="text" name="searchTerm" id="searchTerm">
        <br>
        <input type="submit" value="Search library">
    </form>
</div>

<div class="currentRead">
    <h3>Currently Reading</h3>
    <!-- include alligator tag for current book -->
</div>

<div class="readingList">
    <h3>Reading List</h3>
    <!-- include forEach for reading list -->
</div>

<div class="favsList">
    <h3>Favorites & Recommended</h3>
    <!-- include forEach for reading list -->
</div>