body {
    margin: 10px 100px 10px 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    text-align: center;
}

h1 {
    color: rgb(62, 198, 223);
}

h1, h2, h3, h4, h5, h6, p, #navBar {
    font-family: Arial, Helvetica, sans-serif;
}

#navBar {
    margin-top: 10px;
    background-color: rgb(219, 219, 219);
}

.homePage {
    display: inline-block;
    margin: 50px;
    border: 2px solid lightgray;
    width: 500px;
}

.searchForm {
    display: inline-block;
    margin-top: 50px;
    border: 2px solid lightgray;
    width: 400px;
}

.commentSection {
    display: inline-block;
}

.bookConvo, .bookComment {
    margin-top: 50px;
    border: 2px solid lightgray;
    width: 800px;
}

.currentRead {
    margin-top: 50px;
    width: 600px;
}

.readingList, .favsList {
    text-align: left;
}

#email, #password, #loginButton, #searchButton, #currentBook, #listBooks, #favBooks {
    margin-top: 5px;
    margin-bottom: 5px;
}

#email, #password {
    width: 200px;
}

#searchTerm {
    width: 300px;
}

#loginButton, #createButton, #searchButton, #currentBook, #listBooks, #favBooks, #updateComment, #deleteComment {
    width: 130px;
    height: 20px;
    background-color: rgb(62, 198, 223);
    color: white;
    border: rgb(62, 198, 223);
}

.bookDetails {
    margin-top: 20px;
}

#createButton, #searchButton, #postComment, #deleteComment {
    margin-bottom: 30px;
}

#commentText {
    width: 300px;
    height: 150px;
}

#postComment {
    width: 175px;
    height: 20px;
    background-color: rgb(62, 198, 223);
    color: white;
    border: rgb(62, 198, 223);
}
