body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    text-align: center;
}

h1 {
    color: rgb(68, 173, 192);
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
}

.homePage {
    display: inline-block;
    margin: 50px;
    border: 1px solid black;
    width: 500px;
}

#email, #password, #loginButton, #searchButton {
    margin-top: 5px;
    margin-bottom: 5px;
}

#loginButton, #createButton, #searchButton {
    width: 125px;
    height: 20px;
    background-color: rgb(68, 173, 192);
    color: white;
    border: rgb(68, 173, 192);
}

#createButton {
    margin-bottom: 30px;
}